TOKEN = 1234567890:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
BOT_USERNAME = @smth_bot
API_KEY = "RGAPI-12344567-1234-3214-4122-123456789000"
PING_TEXT = "@user1 @user2 @user3 @user4\_user4
NAMES = playerName1#tag1, playerName2#tag2
CONV_NAMES={"user1":"playerName1#tag1","user2":"playerName2#tag2"}
GEMINI_KEY = AQ.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa